button {
  border: 1px solid transparent;
  padding: 0.4em 1.5em;
  border-radius: 30px;
  width: fit-content;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0090ce;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}

.searchButton {
  height: 100%;
  padding: 0.2em 2em;
  border-radius: 0;
  border: none;
  border-left: solid white;
}

.themeButton {
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 100px;
}
