@import "breakpoints";

#drinkCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border: solid white 1px;

  @include desktop() {
    width: 100%;
  }

  .drinkImgContainer {
    width: 60%;
    position: relative;

    img {
      width: 100%;
      cursor: pointer;
    }

    .drinkTag {
      position: absolute;
      padding: 0.5em 1em;
      background: crimson;
      top: 0;
      right: 0;
    }
  }

  .readMoreLink {
    text-decoration: underline;
  }
}

.drinkDetailsCard {
  display: flex;
  flex-direction: column;
  border: solid white;
  gap: 0.5em;
  padding: 1em;

  @include desktop() {
    gap: 2em;
    flex-direction: row;
  }

  .imageContainer {
    width: 50%;
    position: relative;

    @include desktop() {
      width: 30%;
    }

    .drinkImage {
      width: 100%;
    }

    .drinkTag {
      position: absolute;
      padding: 0.5em 1em;
      background: crimson;
      top: 0;
      right: 0;
    }
  }

  .infoSection {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @include desktop() {
      width: 50%;
    }

    .ingredientsList {
      list-style: none;
      padding-left: 0;

      .listItem {
        display: flex;
        align-items: flex-start;

        @include desktop() {
          padding-left: 1em;
        }

        &::before {
          content: "🍸";
          font-size: 1em;
          margin-right: 0.5em;
          line-height: 2;
        }
      }
    }
  }
}
