@import "breakpoints";

#drinkCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border: solid white 1px;
  width: 50%;

  @include desktop() {
    width: 100%;
  }

  .drinkImgContainer {
    width: 60%;

    img {
      width: 100%;
    }
  }
}

#favouriteCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border: solid white 1px;

  .drinkImg {
    width: 30%;

    img {
      width: 100%;
    }
  }
}

#randomDrinkCard {
  display: flex;
  flex-direction: column;
  border: solid white;
  gap: 0.5em;
  padding: 1em;

  @include desktop() {
    gap: 2em;
    flex-direction: row;
  }

  .randomImageContainer {
    width: 50%;

    @include desktop() {
      width: 30%;
    }

    .randomDrinkImage {
      width: 100%;
    }
  }

  #randomInfoSection {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @include desktop() {
      width: 50%;
    }

    .randomIngredientsList {
      list-style: none;
      padding-left: 0;

      .randomListItem {
        display: flex;
        align-items: flex-start;

        @include desktop() {
          padding-left: 1em;
        }

        &::before {
          content: "🍸";
          font-size: 1em;
          margin-right: 0.5em;
          line-height: 2;
        }
      }
    }
  }
}
