@import "breakpoints";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: whitesmoke;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

.logoContainer {
  width: 20%;
}

header {
  position: relative;
  display: flex;
  gap: none;
  justify-content: space-between;

  @include desktop() {
    gap: 0.5em;
    justify-content: flex-start;
  }

  .logoContainer {
    height: auto;
    width: 50%;

    @include desktop() {
      height: auto;
      width: 10%;
    }

    .logoImg {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1em;
    background-color: black;
    width: 50%;

    @include desktop() {
      justify-content: flex-start;
      padding-left: 3em;
      width: 100%;
      padding: 1em;
      padding-left: 3em;
    }

    ul {
      display: none;
      @include desktop() {
        width: 100%;
        display: flex;
        gap: 4em;
        list-style: none;
      }
    }

    .hamburgerMenu {
      height: 50px;
      width: 4em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      @include desktop() {
        display: none;
      }
    }

    .burgerBar {
      width: 4em;
      height: 0.4em;
      background-color: white;
      border-radius: 0.5em;
    }

    .menu {
      width: 100%;
      height: 400px;
      background-color: grey;
      position: absolute;
      top: 100%;
      right: -100%;
      z-index: 100;
      transition: ease-in-out 0.5s;
    }

    .menu ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .menu li {
      font-size: 1.5em;
      margin: 1em 0;
    }

    .visible {
      right: 0;
      opacity: 1;
    }

    .hidden {
      opacity: 0;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;

  .pageTitle {
    font-size: 3.2em;
    line-height: 1.1;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  width: 100%;

  @include desktop() {
    width: 30%;
  }

  .inputContainer {
    display: flex;
    border: solid white;
    height: 50px;

    input {
      border: none;
      height: 100%;
      padding: 1em;
      width: 100%;
      background-image: url("/src/assets/magnifying-glass-solid.svg");
      background-position: 10px 10px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      padding-left: 40px;
      box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    .searchButton {
      height: 100%;
      padding: 0.2em 2em;
      border: none;
      border-left: solid white;
    }
  }
}

button {
  border: 1px solid transparent;
  padding: 1em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0090ce;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  padding: 2em;
}
